amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
backports.zoneinfo==0.2.1
billiard==4.2.1
blinker==1.8.2
cachelib==0.9.0
celery==5.4.0
cffi==1.17.1
chardet==5.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
distro==1.9.0
Django==4.2.16
django-redis==5.4.0
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.4.2
MarkupSafe==2.1.5
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
prompt_toolkit==3.0.47
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.2
rabbitmq==0.2.0
redis==5.0.8
reportlab==4.2.4
six==1.16.0
SQLAlchemy==2.0.35
sqlparse==0.5.1
tabula-py==2.9.3
typing_extensions==4.12.2
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.4
WTForms==3.1.2
zipp==3.20.2
